.clearer {
    clear: both;
}

div.lyrics-main {
    background: #fcfcfc;
    padding: 10pt;
}

div.lyrics-line {
    background: white;
    height: 20pt;
    border-bottom: 1pt dotted #ddd;
}

div.line-number {
    text-align: right;
    color: #ccc;
}

div.syllables {
    text-align: left;
    color: #ccc;
}

div.rhyme {
    text-align: left;
    color: #58a;
}